<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="username"
      [(ngModel)]="credentials.username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="credentials.password"
      placeholder="Password"
    />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
