<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Bajheera</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async as currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      *ngIf="accountService.currentUser$ | async as currentUser"
      class="dropdown"
      dropdown
    >
      <a
        class="dropdown-toggle text-light"
        dropdownToggle
        aria-controls="dropdown-basic"
        >Welcome {{ currentUser.username | titlecase }}</a
      >
      <ul
        id="dropdown-basic"
        class="dropdown-menu mt-3"
        *dropdownMenu
        role="menu"
      >
        <li role="menuitem"><a class="dropdown-item">Edit Profile</a></li>
        <li class="dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="credentials.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        aria-label="Username"
      />
      <input
        name="password"
        [(ngModel)]="credentials.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        aria-label="Password"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
